
.Chat {
  /* border: 0.5px solid rgb(199, 139, 9); */
  border-radius: 3px;
  height: 20em;
  /* width: 30%; */
  margin: 0;
  padding: 4%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.Chat .MessageList {
  border: 3px solid #ccc;
  box-sizing: border-box;
  flex: 1;
  background-color: white;
}

.Chat .MessageForm {
  background: #eee;
  border-top: 2px solid #ccc;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  flex: 0 0 30px;
}

#chattitle {
  font-family: 'Titillium Web', sans-serif;
  font: Satisfy;
  display: inline-inline-block;
  text-indent: 1em;
  font-size: 22pt;
  color: rgb(236, 218, 236);
}

#chatmessage {
  font-family: 'Titillium Web', sans-serif;
  font: Satisfy;
  display: inline-inline-block;
  text-indent: 1em;
  font-size: 11pt;
  color: rgb(238, 222, 238);
}