.Message {
  line-height: 1.5em;
  background-color: transparent;
  color: rgb(92, 3, 92);
}

.Message.log {
  color: #bbb;
}

.Message .author {
  font-weight: bold;
  color: #888;
  margin: 0 5px 0 0;
}

.black {
  color: black !important;
}

.green {
  color: rgb(9, 9, 138) !important;
}
