.Message {
  line-height: 1.5em;
  background-color: teal;
  color: #ccc;
}

.Message.log {
  color: #bbb;
}

.Message .author {
  font-weight: bold;
  color: #888;
  margin: 0 5px 0 0;
}

.black {
  color: black !important;
}

.green {
  color: darkblue !important;
}
