.App {
  text-align: center;
}
*background-video{

    height: 100%;
  }

  video {
    /* The image used */
    background-image: url("http://video2.ignitemotion.com/files/mp4/Looping_Clouds.mp4");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* #background-image:  */
Typography {
  h1: font-family: 'Indie Flower', cursive;

}

TextField {
  color: purple;
font: <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
}

Button {
  color: yellow;
}
