.App {
  text-align: center;
}

#NavBar {
  background-color: #26c6da;
  font-style: italic;
  font: Libre Caslon Text;
  font-weight: bold;
  font-size: 15pt;
  font-family: 'Libre Caslon Text', serif;
}
#welcome {
 font-family: 'Satisfy', cursive;
  font: Satisfy;
  display: inline-inline-block;
  font-size: 60pt;
  color: white;
}
#openbutt {
  background-color: #26c6da;
  border-style: dotted;
  border-color: black;
  color: white;
  font-size: 15pt;
  font-family: 'Pacifico', cursive;

}
#video-bg {
  z-index: -100;
  margin: 0;
  padding: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
}

.button {
  background-color: pink;
}
.paper{
  font-family: Monospace,Lucida-Console;
  opacity: 100%;
}

#position {
  position: relative;
  z-index: 100;

}

#makemewhite {
  border-color: white;
  color:white;
}

  box {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

TextField {
  color: #900C3F;
font: <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
}
#contact{
  font-color: white;
  font-family: 'Gochi Hand', cursive;
}

.contact {

  border-width: thick;
  border-style: solid;
  border-color: #D7BDE2;
}

a {
  color: #82E0AA;
text-decoration: none;
font-size: 15pt;
background-color: white;
display: fixed;
z-index: 1000;
}
