.App {
  text-align: center;
}

#center{
  display: flex;
  align-items: center;
  background: yellow;
  font-family: 'Domine', serif;
  margin-left: 50%;
}
#slides{
  display: flex;
  align-items: center;
  background: yellow;
  font-family: 'Domine', serif;
  margin-left: 50%;

}
/* mental health bar */
#reminder{
  font-family: 'Domine', serif;
  font-size: 20pt;
  color: pink;
}
/* mental health header */
#header {
  font-family: 'Forum', cursive;
}
/* apply these tips  */
#apply {
  font-family: 'Lustria', serif;
}



#slider {
  font-family: 'Courgette', cursive;
  margin-left: 60%;
  display: flex;
  align-items: center;
}

#healthtips {
font-family: 'Libre Caslon Text', serif;
}
#below {
  font-family: 'Libre Caslon Text', serif;
}
#appbar {
  color:black;
}

#NavBar {
<<<<<<< HEAD
  background-color: white;
  font-weight: normal;
  font-size: 16pt;
  font-family: 'Titillium Web', sans-serif;
}
#welcome {
  font-family: 'Titillium Web', sans-serif;
=======
  background-color: #26c6da;
  font-style: italic;
  font: Libre Caslon Text;
  font-weight: bold;

  font-size: 10pt;
  font-family: 'Libre Caslon Text', serif;
  padding: none;


#welcome {
  font-family: "Satisfy", cursive;

>>>>>>> master
  font: Satisfy;
  display: inline-inline-block;
  font-size: 60pt;
  color: white;
}
#openbutt {
<<<<<<< HEAD
  background-color: white;
  border-style: dotted;
  border-color: black;
  color: rgb(71, 0, 71);
  font-size: 15pt;
  font-family: 'Titillium Web', sans-serif;
=======

  background-color: blueGrey[900];
  font-family: 'Lobster Two', cursive;
  font-size: 15pt;
  color: white;
>>>>>>> master

}


#video-bg {
  z-index: -100;
  margin-top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
}

.button {
  background-color: pink;
}
.paper {
  font-family: Monospace, Lucida-Console;
  opacity: 100%;
}

#position {
  position: relative;
  z-index: 100;
  border-color: white;
}

#makemewhite {
  border-color: white;
  color: white;
}

box {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footercontainer {
  font-style: normal;
  font-size: 9pt;
  display: fixed;
}

TextField {
  color: #900c3f;
  font: <link href=
    "https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel=
    "stylesheet" >;
}
#contact{
  color: white;
  font-family: 'Gochi Hand', cursive;
}

.contact {

  border-width: thick;
  border-style: solid;
  border-color: #D7BDE2;
}

a {
  color: rgb(71, 0, 71);
text-decoration: none;
font-size: 14pt;
background-color: white;
display: fixed;
z-index: 1000;
}
